.hidden {
    display: none;
}
.output {
    width: 80%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 2.5rem;
    justify-content: center;

}
.select{
    justify-content: center;
}
.output{

}